@import models.page.DashboardPage

@(dashboardPage: DashboardPage)

@disabledIfWithdrawn = @{
  if(dashboardPage.isApplicationWithdrawn) "disabled"
}

<section class="section-border @disabledIfWithdrawn" id="mainProgressPage">
    <h2 class="heading-large"><i class="fa fa-check"></i>You're going to the assessment centre</h2>
    <div class="text">
        <section>
            <p>Congratulations, we've accepted your Fast Pass.</p>
            <p>You'll now be invited to the assessment centre where you'll be assessed
                against your preferred schemes.</p>
            <p><a class="" id="view-application" href="@routes.PreviewApplicationController.present()">View your submitted application</a></p>
            <p><a class="" id="edit-personal-details" href="@routes.PersonalDetailsController.present()">Edit your personal details</a></p>
        </section>
    </div>
</section>