dist: trusty
sudo: false
language: scala
scala:
- 2.11.8
script:
  - sbt test it:test
jdk:
- oraclejdk8
cache:
  directories:
    - '$HOME/.ivy2/cache'
services: mongodb
addons:
  apt:
    sources:
      - mongodb-3.2-trusty
    packages:
      - mongodb-org-server
