@(generalDetails: connectors.exchange.GeneralDetails)(edit: Html)

@import _root_.forms.FastPassForm


@displayFastPassSection(id:String, display:Boolean, heading: String, text: => String) = @{
    if(display){
        <h3 class="heading-small">{heading}</h3>
        <p id={id}>{text}</p>
    }
}

@getYesOrNo(value:Boolean) = @{
    if(value) "Yes" else "No"
}

@getCivilServiceExperienceTypeDescription(civilServiceExperienceType: String) = @{
    FastPassForm.CivilServiceExperienceTypes.toMap.getOrElse(civilServiceExperienceType, "")
}

@getInternshipTypeDescription(internshipType: String) = @{
    FastPassForm.InternshipTypes.toMap.getOrElse(internshipType, "")
}

<section class="section-border">
    <h2 class="heading-large">
        <span class="sectionTitle">Personal details</span>
        @edit
    </h2>
    <section>
        <h3 class="heading-small">Full name</h3>
        <p id="fullName">@generalDetails.firstName @generalDetails.lastName </p>
    </section>
    <section>
        <h3 class="heading-small">Preferred name</h3>
        <p id="preferredName">@generalDetails.preferredName</p>
    </section>
    <section>
        <h3 class="heading-small">Date of birth</h3>
        <p id="dateOfBirth">@generalDetails.dateOfBirth.toString("dd MMMM yyyy")</p>
    </section>
    <section>
        <h3 class="heading-small">Address</h3>
        <ul class="list-text">
            <li id="address1">@generalDetails.address.line1</li>
            <li id="address2">@generalDetails.address.line2.getOrElse("")</li>
            <li id="address3">@generalDetails.address.line3.getOrElse("")</li>
            <li id="address4">@generalDetails.address.line4.getOrElse("")</li>
            <li id="postCode">@generalDetails.postCode</li>
            <li id="postCode">@generalDetails.country</li>
        </ul>
    </section>
    <section>
        <h3 class="heading-small">Telephone number</h3>
        @if(generalDetails.phone.isDefined || generalDetails.phone.map(!_.isEmpty)) {
            <p id="phone-input">@generalDetails.phone.getOrElse("No phone number provided")</p>
        }
        @if(generalDetails.phone.isEmpty) {
            <p id="phone-input3">No number provided</p>
        }
    </section>

    @displayFastPassSection("fastPassApplicable", true, "Are you a civil servant or been on a diversity internship or the Fast Track?",
        getYesOrNo(generalDetails.civilServiceExperienceDetails.applicable))
    @displayFastPassSection("civilServiceExperienceType" +
            "", generalDetails.civilServiceExperienceDetails.civilServiceExperienceType.isDefined, "Which of these applies?",
        getCivilServiceExperienceTypeDescription(generalDetails.civilServiceExperienceDetails.civilServiceExperienceType.get))
    @if(generalDetails.civilServiceExperienceDetails.internshipTypes.isDefined){
        <section id="internshipTypes">
            <h3 class="heading-small">Which internship programme did you do?</h3>
            @for(internshipType <- generalDetails.civilServiceExperienceDetails.internshipTypes.get){
                <p>@getInternshipTypeDescription(internshipType)</p>
            }
        </section>
    }
    @displayFastPassSection("fastPassReceived", generalDetails.civilServiceExperienceDetails.fastPassReceived.isDefined, "Did you receive a Fast Pass?",
        getYesOrNo(generalDetails.civilServiceExperienceDetails.fastPassReceived.get))
    @displayFastPassSection("certificateNumber", generalDetails.civilServiceExperienceDetails.certificateNumber.isDefined, "Fast Pass certificate number",
        generalDetails.civilServiceExperienceDetails.certificateNumber.get)
</section>