@(resetForm: Form[_root_.forms.ResetPasswordForm.Data], notification: Option[(helpers.NotificationType, String)] = None)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@import helpers.CSRFieldConstructor._

@main_template(title = "Can't access your account?", pageForms = Seq(resetForm), notification = notification) {

    @flash.get("danger")

        <section>
            <h1 class="heading-xlarge">Password reset</h1>
            <h2 class="heading-large">Email address and code</h2>
            <p class="text">Enter your 7-character code to reset your password</p>
            @helper.form(action = routes.PasswordResetController.submitReset(), 'novalidate -> "novalidate") {

                <!-- The following will stop browsers from trying to autofill the username and password fields -->
                <input type="text" title="Hidden username" class="alwayshidden">
                <input type="password" name="Hidden password" class="alwayshidden">
                <input type="password" name="Hidden password" class="alwayshidden">
                <!-- End -->

                @helper.CSRF.formField
            
                @helper.inputText(resetForm("email"),
                    '_label -> "Email address",
                    'readonly -> "true",
                    'class -> "form-control",
                    '_showConstraints -> false)
            
                @helper.inputText(resetForm("code"),
                    '_label -> "Enter code",
                    'class -> "form-control",
                    '_hasLink -> true,
                    '_showConstraints -> false,
                    'maxlength -> "7")
            
                <p><a id="resend" name="resend" href='@routes.PasswordResetController.presentCode(resetForm("email").value)'>Resend code</a> </p>
        </section>

        <section>
            <h2 class="heading-large">Your new password</h2>
            
            <div class="form-group">
                @helper.inputPassword(resetForm("password"),
                    'class -> "form-control new-password",
                    '_label -> "Choose your password",
                    '_help -> "Requires upper and lowercase letters, a number and at least 9 characters")
                @helper.inputPassword(resetForm("confirmpwd"),
                    '_label -> "Confirm your password",
                    'class -> "form-control",
                    '_showConstraints -> false)
            </div>
            <div class="form-group">
                <button id="btnReset" type="submit" value="submit" class="button">Reset password</button>
            </div>
        </section>

    }

}

