@(signUpForm: Form[_root_.forms.SignUpForm.Data], notification: Option[(helpers.NotificationType, String)] = None)(
        implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, faststreamConfig: FaststreamConfig)

@import helpers.CSRFieldConstructor._
@import views.html.widgets.{checkbox, yesNoQuestion}

@main_template(title = "Create your account", pageForms = Seq(signUpForm), notification = notification) {
    <h1 class="heading-xlarge">Create your account</h1>

    <section class="panel-indent text">
        <p>If you've already created an account on this site for the Civil Service
            Fast Stream, you can return to <a href="@routes.SignInController.present#signInSection">sign in</a>.</p>
    </section>

    @helper.form(action = routes.SignUpController.signUp(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField

            <!-- The following will stop browsers from trying to autofill the username and password fields in the create account page -->
        <input type="text" title="Hidden username" class="alwayshidden">
        <input type="password" name="Hidden password" class="alwayshidden">
            <!-- End -->

        <section class="section-border">
            <h2 class="heading-large">Name and email</h2>
            @helper.inputText(signUpForm("firstName"),
                '_label -> "First name",
                'class -> "form-control",
                '_class -> "form-group-compound",
                '_showConstraints -> false)
            @helper.inputText(signUpForm("lastName"),
                '_label -> "Last name",
                'class -> "form-control",
                '_showConstraints -> false)
            @helper.inputText(signUpForm("email"),
                '_label -> "Email",
                '_help -> "You'll need this to sign in to your account",
                'class -> "form-control",
                '_class -> "form-group-compound",
                'type -> "email",
                '_showConstraints -> false,
                'spellcheck -> "false")
            @helper.inputText(signUpForm("email_confirm"),
                '_label -> "Confirm your email",
                'class -> "form-control",
                'type -> "email",
                '_showConstraints -> false,
                'spellcheck -> "false")
        </section>
        <section class="section-border">
            <h2 class="heading-large">Set your password</h2>
            <div class="form-group">
                <label for="password" class="form-label">Create password</label>

                <div class="form-hint text">
                    <p class="no-btm-margin">Must have:</p>
                    <ul id="passwordRequirements" class="list-withicons list-text">
                        <li id="includesUppercase" class=""><i class="fa the-icon fa-times fa-minus"></i>uppercase letters</li>
                        <li id="includesLowercase" class=""><i class="fa the-icon fa-times fa-minus"></i>lowercase letters</li>
                        <li id="includesNumber" class=""><i class="fa the-icon fa-times fa-minus"></i>a number</li>
                        <li id="includes9Characters" class=""><i class="fa the-icon fa-times fa-minus"></i>at least 9 characters</li>
                    </ul>
                </div>
                <div class="form-group password-wrapper">
                @helper.inputPassword(signUpForm("password"),
                    '_label -> "",
                    'class -> "form-control new-password",
                    '_showConstraints -> false,
                    '_showErrors -> false,
                    '_help -> ""
                )
                </div>
                <div class="password-second form-group">
                    <div id="confirmpwd_field" class="form-group">
                        <label for="confirmpwd" class="form-label">Confirm password</label>
                        <input id="confirmpwd" name="confirmpwd" type="password" class="form-control confirm-password">
                        <div id="matchingHint" class="invisible">
                            <p class="form-hint">Password matching:
                                <span id="pass_match" class="strength-weak"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-border clearfix">
            <h2 class="heading-large">Eligibility</h2>
            <div class="text">
                <h2 class="heading-medium">Confirm the following statements are true</h2>
            </div>
            <ul id="eligibility-list" class="para-btm-margin text">
                <li>I'm <a href="http://neves.io/faststream-marketing/eligibility/" target="_blank" rel="external">eligible to work in the UK</a></li>
                <li>I have a relevant degree or qualify as a current civil servant</li>
                <li>I'm available to start work in January 2017</li>
                <li>I meet my schemes eligibility requirements</li>
            </ul>

            @yesNoQuestion(signUpForm("eligible"), question = "Are you eligible to apply?",
                noMessage = "You must be eligible to apply for the Civil Service Fast Stream")
        </section>

        <section>
            <h2 class="heading-large">Terms and conditions</h2>
            <div class="form-group">
            @checkbox(signUpForm("agree")) {
                I accept the <a href="@routes.ApplicationController.terms()" target="_blank">terms and conditions</a>
            }
            </div>
        </section>

        <div class="form-group">
            @if(faststreamConfig.newAccountsEnabled) {
                <div>
                    <button id="submit" type="submit" value="submit" class="button">Create account</button>
                </div>
            }
        </div>
    }
}
