@(signUpForm: Form[_root_.forms.SignUpForm.Data], notification: Option[(helpers.NotificationType, String)] = None)(
        implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, fasttrackConfig: FasttrackConfig)

@import helpers.CSRFieldConstructor._
@import views.html.widgets.checkbox

@main_template(title = "Create your account", pageForms = Seq(signUpForm), notification = notification) {
    <h1 class="heading-xlarge">Create your account</h1>

    @helper.form(action = routes.SignUpController.signUp(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField
        
        <!-- The following will stop browsers from trying to autofill the username and password fields in the create account page -->
        <input type="text" title="Hidden username" class="alwayshidden">
        <input type="password" name="Hidden password" class="alwayshidden">
        <!-- End -->
        
        <section class="section-border">
            <h2 class="heading-large">Name and email</h2>
            @helper.inputText(signUpForm("firstName"), 
                '_label -> "First name", 
                'class -> "form-control", 
                '_class -> "form-group-compound",
                '_showConstraints -> false)
            @helper.inputText(signUpForm("lastName"),
                '_label -> "Last name", 
                'class -> "form-control", 
                '_showConstraints -> false)
            @helper.inputText(signUpForm("email"), 
                '_label -> "Email",
                '_help -> "You'll need this to sign in to your account", 
                'class -> "form-control", 
                '_class -> "form-group-compound",
                'type -> "email",
                '_showConstraints -> false,
                'spellcheck -> "false")
            @helper.inputText(signUpForm("email_confirm"),
                '_label -> "Confirm your email",
                'class -> "form-control",
                'type -> "email",
                '_showConstraints -> false,
                'spellcheck -> "false")
        </section>
        <section class="section-border">
            <h2 class="heading-large">Set your password</h2>
            @helper.inputPassword(signUpForm("password"), 
                'class -> "form-control new-password",
                '_label -> "Create password",
                '_help -> "Requires upper and lowercase letters, a number and at least 9 characters")
            @helper.inputPassword(signUpForm("confirmpwd"), 
                '_label -> "Confirm password", 
                'class -> "form-control",
                '_showConstraints -> false)
        </section>

        <section class="section-border">
            <h2 class="heading-large">Eligibility</h2>

            <div class="text">
                <h3 class="heading-medium">Confirm the following statements are true:</h3>
            </div>

            <ul id="eligibility-list" class="para-btm-margin text">
              <li>I’ll be aged 16 or older by 31 August 2016</li>
              <li>I have at least 5 GCSEs, grades A* to C and including English language and maths, or <a href="https://www.gov.uk/what-different-qualification-levels-mean/compare-different-qualification-levels" rel="external" target="_blank">equivalent</a> (or I expect to have these by 31 August 2016)</li>
              <li>I’m eligible according to the <a href="https://www.gov.uk/government/publications/nationality-rules" target="_blank" rel="external">Civil Service nationality rules</a></li>
              <li>I’ve been resident in the UK for at least 2 of the 10 years immediately before my application (and this includes at least one continuous 12-month period)</li>
              <li>I’m <a href="https://www.gov.uk/legal-right-work-uk" target="_blank" rel="external">eligible to work in the UK</a></li>
              <li>I don't hold a degree</li>
              <li>I’m available to start work in September 2016</li>
              <li>If I'm currently a civil servant, or have previously worked for the Civil Service, I'm aware of the <a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-who-can-apply#conditions-for-existing-civil-servants" rel="external" target="_blank">conditions that apply</a></li>
            </ul>

            @checkbox(signUpForm("agreeEligibleToApply")) {
                I confirm I'm eligible to apply
            }

        </section>

        <section>
            <h2 class="heading-large">Terms and conditions</h2>
            @checkbox(signUpForm("agree")) {
                I accept the <a href="@routes.Application.terms()" target="_blank">terms and conditions</a>
            }
        </section>

        <div class="form-group">
            @if(fasttrackConfig.newAccountsEnabled) {
                <div>
                    <button id="submit" type="submit" value="submit" class="button">Create account</button>
                </div>
            }
        </div>
    }
}
