@import models.page.GeneralQuestionsPage
@import views.html.widgets.{ select_search, select, yesNoRadioWithTogglePanel }

@import forms.sift.UndergradDegreeInfoForm
@import forms.sift.GeneralQuestionsForm
@(page: GeneralQuestionsPage)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, messages: Messages)

@main_template(title = "Nationality and higher education", additionalJavascriptFilenames = List("vendor/chosen.jquery.js", "generalQuestions.js")) {
    <h1 class="heading-xlarge">Nationality and higher education</h1>
    @helper.form(action = routes.SiftQuestionsController.saveGeneralQuestions(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField
        <fieldset>
            <legend class="form-label">Do you currently hold more than one passport?</legend>
            @yesNoRadioWithTogglePanel(page.form("multiplePassport"),
                'id -> "multiplePassport"
            ) {
                <div id="multiplePassport-panel-yes" class="toggle-content" >
                    <div class="form-group">
                        @select_search(page.form("secondPassportCountry"), GeneralQuestionsForm.Countries)(Html("What country issued your second passport?"))
                    </div>
                </div>
            }
            <div class="form-group">
                @select_search(page.form("passportCountry"), GeneralQuestionsForm.Countries)(Html("What country is named on your current passport?"))
            </div>
        </fieldset>

        <fieldset>
            <legend class="form-label">Do you have an undergraduate degree?</legend>
            @yesNoRadioWithTogglePanel(page.form("hasUndergradDegree"), 'id -> "undergradDegree") {
                <div id="undergradDegree-panel-yes" class="toggle-content" >
                    <h2 class="heading-medium">Undergraduate degree</h2>
                    <div class="form-group">
                        @helper.inputText(page.form("undergradDegree.name"),
                            'id -> "undergradDegree.name",
                            '_label -> "What was the name of your degree?",
                            'class -> "form-control",
                            '_showConstraints -> false
                        )
                    </div>
                    <div class="form-group">
                        @select(page.form("undergradDegree.classification"), UndergradDegreeInfoForm.Classifications)("")(Html("What was your degree classification?"))
                    </div>
                     <div class="form-group">
                        @helper.inputText(page.form("undergradDegree.graduationYear"),
                            '_label -> "What year did you graduate?",
                            '_help -> "Or enter the year you expect to graduate",
                            'class -> "form-control",
                            '_class -> "form-group-compound",
                            '_showConstraints -> false
                        )
                    </div>
                    <div class="form-group">
                        @helper.textarea(page.form("undergradDegree.moduleDetails"),
                            '_label -> "List the details of the subjects and modules studies in each year",
                            'class -> "form-control",
                            'rows -> 10,
                            '_showConstraints -> false
                        )
                    </div>
                </div>
            }
        </fieldset>

        <fieldset>
            <legend class="form-label">Do you have a postgraduate degree?</legend>
            @yesNoRadioWithTogglePanel(page.form("hasPostgradDegree"), 'id -> "postgradDegree") {
                <div id="postgradDegree-panel-yes" class="toggle-content" >
                    <h2 class="heading-medium">Postgraduate degree</h2>
                    <div class="form-group">
                        @helper.inputText(page.form("postgradDegree.name"),
                            'id -> "postgradDegree.name",
                            '_label -> "What was the name of your degree?",
                            'class -> "form-control",
                            '_showConstraints -> false
                        )
                    </div>
                     <div class="form-group">
                        @helper.inputText(page.form("postgradDegree.graduationYear"),
                            '_label -> "What year did you graduate?",
                            '_help -> "Or enter the year you expect to graduate",
                            'class -> "form-control",
                            '_class -> "form-group-compound",
                            '_showConstraints -> false
                        )
                    </div>
                    <div class="form-group">
                        @helper.textarea(page.form("postgradDegree.otherDetails"),
                            '_label -> "List any other details about your postgraduate degree",
                            'class -> "form-control",
                            'rows -> 5,
                            '_showConstraints -> false
                        )
                    </div>
                     <div class="form-group">
                        @helper.textarea(page.form("postgradDegree.projectDetails"),
                            '_label -> "If you did a postgraduate project, enter the details here",
                            'class -> "form-control",
                            'rows -> 5,
                            '_showConstraints -> false
                        )
                    </div>
                </div>
            }
        </fieldset>
        <div class="form-group">
            <button id="submit" type="submit" value="submit" class="button">Save and continue</button>
        </div>
    }
}
