@()(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@main_template(title = "Contact us") {
    <h1 class="heading-xlarge">Contact us</h1>

    <section class="text">
	  <h2 class="heading-medium">Fast Track helpline</h2>
	  <p>Telephone: 03000 542211</p>

	  <p>Email: <a href="mailto:fast.track@@csresourcing.gsi.gov.uk">fast.track@@csresourcing.gsi.gov.uk</a></p>

	  <p>Contact the <a href="https://nationalcareersservice.direct.gov.uk/Pages/Home.aspx" rel="external">National Careers Service</a> if you're wondering whether an apprenticeship is right for you.</p>
	</section>
}