@()(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, messages: Messages)

@main_template(title = "Contact us") {
    <h1 class="heading-xlarge">Contact us</h1>
    <h2 class="heading-medium">Fast Stream helpline</h2>
	<section class="text">
		<p id="contactUsPhone">Telephone: 01276 400 333</p> 
		<div class="panel-indent">
			<p>You can call us from 8am to 6pm, Monday to Friday, excluding Bank Holidays.</p>
		</div>
		<p>
			Email: <a id="contactUsEmail" href="mailto:FastStream@@Parity.net">FastStream@@Parity.net</a>
		</p>
	</section>
}
