@(signInForm: Form[_root_.forms.SignInForm.Data], notification: Option[(helpers.NotificationType, String)] = None
    )(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, messages: Messages)

@import helpers.CSRFieldConstructor._

@isFaststreamBecomesSdipRoute = @{
    signInForm("route").value.getOrElse("") == ApplicationRoute.SdipFaststream.toString
}

@main_template(title = "Sign in", pageForms = Seq(signInForm), notification = notification) {

    <h1 class="heading-xlarge">Sign in</h1>
    <section class="panel-indent text">
        <p>If you don't have an account you can <a href="@routes.SignUpController.present()" id="createAccount">create your account</a>.</p>
        @if(isFaststreamBecomesSdipRoute) {
            <p>After you sign in you'll be able to ask to be considered for the Summer Diversity Internship Programme.</p>
        }
        <p>If you've applied previously or have an account on Civil Service Jobs, you will need to create a new account to apply this year.</p>
    </section>

    @helper.form(action = routes.SignInController.signIn, 'novalidate -> "novalidate") {
        @helper.CSRF.formField

        @helper.inputText(signInForm("signIn"),
            '_label -> "Email",
            'type -> "email",
            'class -> "form-control",
            '_class -> "form-group-compound",
            '_showConstraints -> false)
        @helper.inputPassword(signInForm("signInPassword"),
            '_label -> "Password",
            'class -> "form-control",
            '_hasLink -> true,
            '_showConstraints -> false)

        <input type="hidden" id="route" name="route" value='@signInForm("route").value.getOrElse("")' />

        <p><a href="@routes.PasswordResetController.presentCode()">I can't access my account</a></p>

        <div class="form-group small-btm-margin">
            <button id="btnSignIn" type="submit" value="submit" class="button">Sign in</button>
        </div>
    }
}
