@(questionnaireForm: Form[_root_.forms.QuestionnaireEducationInfoForm.Data])(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@import helpers.CSRFieldConstructor._
@import views.html.widgets.{checkbox, radioBox}

@main_template(title = "Diversity questions", pageForms = Seq(questionnaireForm)) {

    <div class="hgroup">
        <h1 class="heading-xlarge">Diversity questions</h1>
        <p class="subtitle">Page 2 of 3</p>
    </div>
    <div class="panel-indent text">
        <p class="">
           Any information you give is treated in strict confidence and your answers don't affect your application.
        </p>
    </div>
    <details class="text">
        <summary id="link-why-collect-data">Why do we collect this information?</summary>
        <div id="panel-why-collect-data" class="detail-content panel-indent">
            <p>
                The Civil Service is committed to promoting diversity, irrespective of ethnicity or nationality, gender, transgender, sexuality, disability, age, religion, marital status, working patterns and socio-economic status.</p>
            <p>
                We collect diversity and socio economic information for monitoring purposes only and this data is treated separately from the application process. Your answers in this section don't affect your results in any way and are treated in strict confidence.
            </p>
        </div>
    </details>
    <section>
        <h2 class="heading-large">
            More about you
        </h2>
        @helper.form(action = routes.QuestionnaireController.secondPageSubmit(), 'novalidate -> "novalidate") {
            @helper.CSRF.formField

            @helper.inputText(questionnaireForm("schoolName"),
                '_label -> Messages("schoolName.question"),
                'class -> "form-control",
                '_showConstraints -> false)

            <div data-optional>
                @checkbox(questionnaireForm("preferNotSay_schoolName"), Some("schoolName")) {
                    Don't know/prefer not to say/not applicable
                }
            </div>

            @helper.inputText(questionnaireForm("sixthForm"),
                '_label -> Messages("sixthForm.question"),
                'class -> "form-control",
                '_showConstraints -> false)

            <div data-optional>
                @checkbox(questionnaireForm("preferNotSay_sixthForm"), Some("sixthForm")) {
                    Don't know/prefer not to say/not applicable
                }
            </div>

            @helper.inputText(questionnaireForm("postcodeQ"),
                '_label -> Messages("postcode.question"),
                'class -> "form-control",
                '_showConstraints -> false)

            <div data-optional>
                @checkbox(questionnaireForm("preferNotSay_postcodeQ"), Some("postcodeQ")) {
                    Don't know/prefer not to say
                }
            </div>

            <fieldset class="text">
                <legend class="form-label" id="schoolMeals-ques">@Messages("freeSchoolMeals.question")</legend>
                @radioBox(questionnaireForm("freeSchoolMeals"), options = Seq("Yes" -> "Yes", "No" -> "No",
                    "Unknown/prefer not to say" -> "Don't know/prefer not to say"))
            </fieldset>

            <fieldset class="text">
                <legend class="form-label" id="uni-ques">@Messages("university.question")</legend>
                @radioBox(questionnaireForm("university"), options = Seq("Yes" -> "Yes", "No" -> "No",
                    "Unknown/prefer not to say" -> "Don't know/prefer not to say"))
            </fieldset>

            <div class="form-group">
                <button id="submit" type="submit" value="submit" class="button">Save and continue</button>
            </div>
        }
    </section>
}
