@(questionnaireForm: Form[_root_.forms.EducationQuestionnaireForm.Data], isCandidateCivilServant: String)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@import views.html.questionnaire.components.{ postcode, school, university, universityDegreeCategory }
@import views.html.widgets.{ pageProgress, radioBoxHorizontal }

@main_template(title = "Your education", pageForms = Seq(questionnaireForm)) {
    @pageProgress(7, 8)

    <div class="hgroup">
        <h1 class="heading-xlarge">Your education</h1>
        <p class="subtitle">Diversity questions</p>
    </div>
    <div class="panel-info standard-panel">
        <div class="text">
            <h2 class="heading-medium">Why do we ask about your education?</h2>
            <p>These questions help us to gather data on the areas people grew up
                in and the schools they went to.</p>
            <p>This is one method we use to help track that the Civil Service is diverse
                and reflects the society it serves.</p>
        </div>
    </div>
    @helper.form(action = routes.QuestionnaireController.submitSecondPage(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField

        <fieldset class="form-group">
            <legend class="form-label text">@Messages("liveInUKBetween14and18.question")</legend>
            @radioBoxHorizontal(questionnaireForm("liveInUKBetween14and18"), options = List(("yes", "Yes", true), ("no", "No", false)),
                optionTrigger = "liveInUKBetween14and18-panel")
            <div id="liveInUKBetween14and18-panel" class="toggle-content" aria-hidden="true">
                @postcode(questionnaireForm)
                @school(questionnaireForm)
            </div>
        </fieldset>
        <input type="hidden" id="isCandidateCivilServant" name="isCandidateCivilServant" value="@isCandidateCivilServant">
        @if(isCandidateCivilServant=="Yes") {
            <fieldset>
                <legend class="form-label text">@Messages("haveDegree.question")</legend>
                @radioBoxHorizontal(questionnaireForm("haveDegree"), options = List(("yes", "Yes", true), ("no", "No", false)),
                    optionTrigger = "haveDegree-panel")
                <div id="haveDegree-panel" class="toggle-content" aria-hidden="true">
                    <h2 class="heading-medium">University</h2>
                    <div class="panel-indent text">
                        <p>This data helps us compare the average performance of certain universities
                            to the national average.</p>
                    </div>
                    @university(questionnaireForm)
                    @universityDegreeCategory(questionnaireForm)
                </div>
            </fieldset>
        } else {
            <h2 class="heading-medium">University</h2>
            <div class="panel-indent text">
                <p>This data helps us compare the average performance of certain universities
                    to the national average.</p>
            </div>
            @university(questionnaireForm)
            @universityDegreeCategory(questionnaireForm)
        }

        <div>
            <button id="submit" type="submit" value="submit" class="button">Save and continue</button>
        </div>
    }
}
