@import models.view.SimpleAnswerOptions
@import models.view.questionnaire.{ Employee, Occupation, OrganizationSize }
@(questionnaireForm: Form[_root_.forms.ParentalOccupationQuestionnaireForm.Data])(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@import views.html.widgets.{pageProgress, radioBoxHorizontal, radioBoxVertical, radioBoxOccupation, radioBoxOccupationFirst}

@main_template(title = "About your parents", pageForms = Seq(questionnaireForm)) {
    @pageProgress(8,8)
    <div class="hgroup">
        <h1 class="heading-xlarge">About your parents</h1>
        <p class="subtitle">Diversity questions</p>
    </div>
    <div id="panel-why-collect-data" class="panel-info standard-panel">
        <div class="text">
            <h2 class="heading-medium">Why do we ask about your parents?</h2>
            <p>Gathering anonymous data about the education and employment background of close family of applicants when aged 14 can help us to understand the socio-economic background of our applicant group.</p>
        </div>
    </div>
    @helper.form(action = routes.QuestionnaireController.submitThirdPage(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField

        <section>
            <div class="text">
                <fieldset>
                    <legend class="form-label">@Messages("parentsDegree.question")</legend>
                    @radioBoxHorizontal(questionnaireForm("parentsDegree"), options = SimpleAnswerOptions.list)
                </fieldset>
            </div>
        </section>

        <section>
                <fieldset>
                    <legend class="form-label">@Messages("employedParent.question")</legend>
                    @radioBoxOccupationFirst(questionnaireForm("employedParent"))
                </fieldset>

                <fieldset class="hidingOccupations initiallyHidden" data-requiredifshown data-optional>
                    <legend class="form-label">@Messages("parentsOccupation.question")</legend>

                    @radioBoxOccupation(questionnaireForm("parentsOccupation"), models.view.questionnaire.Occupation.seq)
                </fieldset>
        </section>

        <section class="hidingContent initiallyHidden" id="employedContent" data-requiredifshown data-optional>
            <section>
                <fieldset>
                    <legend class="form-label">@Messages("employee.question")</legend>
                    <div class="form-group inline">
                        @radioBoxVertical(questionnaireForm("employee"), options = models.view.questionnaire.Employee.list)
                    </div>
                </fieldset>
            </section>

            <section>
                <fieldset>
                    <legend class="form-label">@Messages("organizationSize.question")</legend>
                    <div class="form-group inline">
                        @radioBoxVertical(questionnaireForm("organizationSize"), options = models.view.questionnaire.OrganizationSize.list)
                    </div>
                </fieldset>
            </section>

            <section>
                <fieldset>
                    <legend class="form-label">@Messages("supervise.question")</legend>
                    @radioBoxHorizontal(questionnaireForm("supervise"), options = SimpleAnswerOptions.list)
                </fieldset>
            </section>

        </section>
        <div class="form-group">
            <button id="submit" type="submit" value="submit" class="button">Save and continue</button>
        </div>
    }
}
