@(questionnaireForm: Form[_root_.forms.QuestionnaireOccupationInfoForm.Data])(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@import views.html.widgets.{checkbox, radioBoxOccupation, radioBoxOccupationFirst, select_guard, guard, radioBox}

@main_template(title = "About your parents", pageForms = Seq(questionnaireForm)) {

    <section class="page-progress">
        <p><span class="lede">Page 8 of 8</span></p>
    </section>
    <div class="hgroup">
        <h1 class="heading-xlarge">About your parents</h1>
    </div>
    <div id="panel-why-collect-data" class="panel-warning standard-panel">
        <h2 class="heading-medium">Why are we asking these questions?</h2>
        <p>The following questions are:</p>
        <ul class="no-btm-margin">
            <li>for information monitoring only</li>
            <li>not part of your application</li>
            <li>treated in strict confidence</li>
            <li>to make sure the Civil Service is a <a id="link-to-diverse-org" href="https://www.gov.uk/government/organisations/civil-service/about/equality-and-diversity"
            rel="external" target="_blank">diverse organisation</a></li>
        </ul>
    </div>
    @helper.form(action = routes.QuestionnaireController.thirdPageSubmit(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField

        <section>
            <div class="text">
                <p class="form-label">@Messages("parentsDegree.question")</p>
                @radioBox(questionnaireForm("parentsDegree"), options = Seq("Yes" -> "Yes", "No" -> "No",
                    "Unknown/prefer not to say" -> "I don't know/prefer not to say"))
            </div>
        </section>

        <section>
            <h2 class="heading-large">
                Parental occupation
            </h2>
            <div class="panel-indent text">
                <p>
                    Thinking back to when you were aged 14, answer the following questions about your <b>highest earning</b> parent / guardian.
                </p>
            </div>

            <div id="parentsOccupation_field">

                <fieldset>
                    <legend class="form-label">@Messages("employedParent.question")</legend>
                    
                    @radioBoxOccupationFirst(questionnaireForm("employedParent"))
                </fieldset>

                <fieldset class="hidingOccupations initiallyHidden" data-requiredifshown data-optional>
                    <legend class="form-label">@Messages("parentsOccupation.question")</legend>

                    @radioBoxOccupation(questionnaireForm("parentsOccupation"), models.Occupations.seq)
                </fieldset>
            </div>
        </section>
        <section class="hidingContent initiallyHidden" id="employedContent" data-requiredifshown data-optional>

            @select_guard(questionnaireForm("employee"), models.Employee.list,
                "", "-- Select one --") {
                @Messages("employee.question")
            }

            <div data-optional>
                @checkbox(questionnaireForm("preferNotSay_employee"), Some("employee")) {
                    Don't know/prefer not to say
                }
            </div>

            @select_guard(questionnaireForm("organizationSize"), models.OrganizationSize.list,
                "", "-- Select one --") {
                @Messages("organizationSize.question")
            }

            <div data-optional>
                @checkbox(questionnaireForm("preferNotSay_organizationSize"), Some("organizationSize")) {
                    Don't know/prefer not to say
                }
            </div>

            @select_guard(questionnaireForm("supervise"), models.Supervise.list,
                "", "-- Select one --") {
                @Messages("supervise.question")
            }

            <div data-optional>
                @checkbox(questionnaireForm("preferNotSay_supervise"), Some("supervise")) {
                    Don't know/prefer not to say
                }
            </div>

        </section>
        <div class="form-group">
            <button id="submit" type="submit" value="submit" class="button">Save and continue</button>
        </div>
    }
}
