<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/fset-fasttrack.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_IGNORE_NETTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[not-available] user=[not-available] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/access.log</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="CONNECTOR_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/connector.log</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>


    <logger name="accesslog" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG_FILE" />
    </logger>

    <logger name="com.ning.http.client.providers.netty" additivity="false">
        <appender-ref ref="STDOUT_IGNORE_NETTY" />
    </logger>

    <logger name="uk.gov" level="INFO"/>

    <logger name="application" level="DEBUG"/>

    <logger name="connector" level="TRACE">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.netty.util.ResourceLeakDetectorFactory" level="INFO" />
    <logger name="play.shaded" level="INFO" />
    <logger name="org.jboss.netty.channel.socket.nio" level="WARN" />
    <logger name="io.netty.buffer" level="WARN"/>
    <logger name="org.asynchttpclient.netty.handler" level="INFO"/>
    <logger name="org.asynchttpclient.netty.channel" level="INFO"/>

    <logger name="com.google.inject.internal" level="WARN" />
    <logger name="javax.management.mbeanserver" level="WARN"/>
    <logger name="akka.event" level="INFO"/>
    <logger name="net.sf.ehcache" level="INFO"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN"/>
    <logger name="play.api.libs.concurrent.ActorSystemProvider" level="INFO"/>
    <!--logger name="reactivemongo.core.actors.MongoDBSystem" level="WARN"/-->
    <!--logger name="reactivemongo" level="WARN" /-->

    <!-- Reduce the amount of Mongo Driver logging to stop the console scrolling -->
    <logger name="org.mongodb.driver.cluster" level="WARN"/>
    <logger name="org.mongodb.driver.connection" level="WARN"/>
    <logger name="org.mongodb.driver.protocol.command" level="WARN"/>


    <logger name="uk.gov.hmrc.audit.handler.DatastreamHandler" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
