@import security.Roles._
@import views.html.home.withdrawInformation

@(cachedUser: CachedData)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

    <div class="grid-wrapper">
        <div class="grid grid-1-2">
            <div class="inner-block-padr">
                <div class="hgroup">
                    <h1 class="heading-xlarge">Home</h1>
                    <p class="subtitle">@{cachedUser.user.firstName + " " + cachedUser.user.lastName}</p>
                </div>
            </div>
        </div>
        <div class="grid grid-1-2">
            <div class="page-link">
                @if(!WithdrawnApplicationRole.isAuthorized(cachedUser)) {
                <p class="small-btm-margin">
                    <a class="" id="view-application" href="@routes.PreviewApplicationController.present()">View your submitted application</a>
                </p>
                @if(AbleToWithdrawApplicationRole.isAuthorized(cachedUser)){
                <p class="small-btm-margin">
                    <a class="" id="edit-personal-details" href="@routes.PersonalDetailsController.present()">Edit your personal details</a>
                </p>
                }
                }
            </div>
        </div>
    </div>

    @withdrawInformation(cachedUser)

