@import connectors.exchange.SchemeEvaluationResult
@import views.html.home.commonSectionFinalResults
@import views.html.home.withdrawSection
@import security.Roles._
@import security.RoleUtils._
@import views.html.home.withdrawInformation
@import views.html.widgets.sdipFaststreamBanner

@(cachedUser: CachedData, finalSchemeResults: List[SchemeEvaluationResult])(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, messages: Messages)

@getOrder(pos: Int) = @{
  pos match {
    case 1 => "1st"
    case 2 => "2nd"
    case 3 => "3rd"
    case _ => s"${pos}th"
  }
}

@getSuccessfulSchemes = @{
    finalSchemeResults.zipWithIndex.filter(_._1.result == "Green")
}

@getUnSuccessfulSchemes = @{
    finalSchemeResults.zipWithIndex.filter(_._1.result == "Red")
}

@main_template(title = "Home") {

    @commonSectionFinalResults(cachedUser)

    @sdipFaststreamBanner(cachedUser)

    <section class="section-border @if(WithdrawnApplicationRole.isAuthorized(cachedUser)){disabled}" id="mainProgressPage">
        <div class="text">
            <section>
                <p>Congratulations, you've been successful for at @{finalSchemeResults.count(_.result == "Green")} least one of your
                    preferred schemes.</p>
            </section>
            <h2 class="heading-large">What you need to do now</h2>
            <h2 class="heading-medium">1. Check your scheme status</h2>
               <div class="panel-success standard-panel">
                    <h3 class="heading-medium">Successful schemes</h3>
                    @for((schemeResult, index) <- getSuccessfulSchemes) {
                       <section>
                           <h3 class="bold-small">@getOrder(index + 1) preference</h3>
                           <p>@Messages("scheme."+schemeResult.schemeId+".description")</p>
                       </section>
                   }
                </div>
            @if(getUnSuccessfulSchemes.nonEmpty) {
                <h3 class="heading-small">Unsuccessful schemes</h3>
                <p><i class="fa fa-exclamation-triangle"></i>You've got @getUnSuccessfulSchemes.size unsuccessful
                    schemes</p>
                <details>
                    <summary>View your unsuccessful schemes</summary>
                    <div class="detail-content">
                        <div class="panel-warning standard-panel">
                            @for((schemeResult, index) <- getUnSuccessfulSchemes) {
                                <section>
                                    <h3 class="bold-small">@getOrder(index + 1) preference</h3>
                                    <p>@Messages("scheme."+schemeResult.schemeId+".description")</p>
                                </section>
                            }
                        </div>
                    </div>
                </details>
            }
            <h2 class="heading-medium">2. Access your assessment centre account</h2>
            <div class="text">
                <p>To continue onto the assessment centre, you need to visit this page
                    <a href="https://candidate.faststream.gov.uk/faststream" target="_blank">https://candidate.faststream.gov.uk/faststream</a>.</p>
                <p>You'll be sent an email containing the details you'll need to sign
                    in and fill in your information.</p>
                <div class="panel-info standard-panel">
                    <p>You need to complete this step within 7 days of receiving the email.</p>
                </div>
            </div>
            @if(AbleToWithdrawApplicationRole.isAuthorized(cachedUser)){
                <h2 class="heading-medium">3. Attend the assessment centre</h2>
                <div class="text">
                    <div class="">
                        <p>You'll automatically be put forward for your successful schemes at
                            the assessment centre unless you withdraw your application.</p>
                        <p>Unfortunately, you won't be considered for any unsuccessful schemes.</p>
                    </div>
                </div>
            }
        </div>
    </section>

    @withdrawSection(cachedUser)
}
