@import models.page.PostOnlineTestsPage
@import views.html.home.commonSectionPostOnlineTests
@import views.html.home.siftProgress
@import views.html.home.withdrawSection
@import models.page.PostOnlineTestsStage
@import security.Roles._
@import security.RoleUtils._
@import views.html.home.withdrawInformation
@import views.html.widgets.sdipFaststreamBanner

@(page: PostOnlineTestsPage)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, messages: Messages)

@getOrder(pos: Int) = @{
  pos match {
    case 1 => "1st"
    case 2 => "2nd"
    case 3 => "3rd"
    case _ => s"${pos}th"
  }
}

@unsuccessfulSchemes = {
    @if(page.userDataWithSchemes.failedSchemes.nonEmpty) {
    <details id="unsuccessfulSchemes">
        <summary>Unsuccessful schemes</summary>
        <div class="detail-content">
            @for((schemeResult, index) <- page.userDataWithSchemes.failedSchemes.zipWithIndex) {
            <div class="panel-indent">
                <p>@schemeResult.scheme.name
                    <br>(unsuccessful at @schemeResult.failedAtStage)
                </p>
            </div>
            }
        </div>
    </details>
    }
}

@main_template(title = "Home", additionalJavascriptFilenames = List("siftProgress.js")) {

    @commonSectionPostOnlineTests(page.toCachedData)

    @sdipFaststreamBanner(page.toCachedData)

@(page.stage) match {

case (PostOnlineTestsStage.FAILED_TO_ATTEND) => {
    <section class="section-border">
        <section class="text" data-successtop>
            <div id="unsuccessfulNoAttend">
                <p class="med-btm-margin" id="warningOnlineExercises"><i class="fa the-icon fa-exclamation-triangle"></i>
                    Important</p>
                <div id="assessmentFailedToAttend">
                    <p>Unfortunately, you've been unsuccessful as you didn't attend the assessment centre.</p>
                    <p>If you believe there's been a mistake, please <a href="@routes.ApplicationController.helpdesk()">contact
                        us</a>.</p>
                    <p>Visit the <a href="https://www.civilservicejobs.service.gov.uk" target="_blank" rel="external">Civil
                        Service jobs</a>
                        site for more opportunities with us.</p>
                </div>
                <ul class="list-text">
                    <li>
                        <h3 class="bold-small">1st preference</h3>
                        @page.userDataWithSchemes.successfulSchemes.headOption.map { schemeResult =>
                            <p>@{schemeResult.scheme.name}
                            <br>(unsuccessful at the assessment centre)</p>
                        }
                    </li>
                </ul>
            </div>
            @unsuccessfulSchemes
        </section>

    </section>
}

case _ => {

    <section class="section-border @if(WithdrawnApplicationRole.isAuthorized(page.toCachedData)){disabled}" id="mainProgressPage">
        <div class="text">
            <section>
                <p><i class="fa fa-check"></i>Congratulations, you're through to the next stage for @{page.noSuccessfulSchemes} of your preferred schemes.</p>
                <p>Check your scheme preferences, as the order may have changed.</p>
                @if(SchemeWithdrawRole.isAuthorized(page.toCachedData)) {
                    <div class="panel-indent" id="importantToProgress">
                        <p><i class="fa fa-exclamation-triangle"></i>Important</p>
                        <p><span>
                            To progress to the next stage you must first complete any scheme questions or tests, even if your first preference doesn't ask for them. </span>
                            If
                            you've changed your mind, you can <a href="#">withdraw from individual schemes</a>.
                        </p>
                    </div>
                }
                @for((schemeResult, index) <- page.successfulSchemes.zipWithIndex) {
                    <section>
                        <h3 class="bold-small">@getOrder(index + 1) preference</h3>
                        <p>@{schemeResult.scheme.name}</p>
                    </section>
                }
            </section>

            @unsuccessfulSchemes

        </div>
        <h2 class="heading-large">Next steps</h2>
        @siftProgress(page)
    </section>
    @withdrawSection(page.toCachedData)
}

}
}
