@import models.page.SchemeWithdrawPage
@import views.html.widgets.{ yesNoRadioWithTogglePanel, selectValueDifferentFromDisplayedText }
@import helpers.CSRFieldConstructor._

@(page: SchemeWithdrawPage)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, messages: Messages)

@main_template(title = "Withdraw from a scheme") {
    <h1 class="heading-xlarge">Withdraw from a scheme</h1>
    <div class="panel-indent">
        <div class="text">
            <p>Once you withdraw from a scheme you won't be able to change your decision.</p>
            <p>Your preferences will update to reflect their new order.</p>
        </div>
    </div>
    @helper.form(routes.WithdrawController.withdrawScheme) {
        @helper.CSRF.formField
        @yesNoRadioWithTogglePanel(page.form("not-used"),
            'id -> "withdraw",
            '_label -> "Do you still want to withdraw?"
        ) {
            <div id="withdraw-panel-yes" class="toggle-content" >
                <div>
                    @selectValueDifferentFromDisplayedText(page.form("scheme"), page.schemes.toList)("Select scheme")(Html("Which scheme do you want to withdraw from?"))
                    @helper.textarea(page.form("reason"),
                        'id -> "reason",
                        '_label -> "Reason for withdrawal (optional)",
                        'rows -> 5
                    )
                </div>
                <button id="submit" type="submit" name="action" value="@routes.WithdrawController.withdrawScheme()" class="button">Withdraw from scheme</button>
            </div>

        }
    }
    <a class="account-link" id="dashboardLink" href="@routes.HomeController.present()">Return to home page</a>
}
