@import models.ConsiderMeForSdipHelper._

@(usr: CachedData)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, lang: Lang)

@displayInformation = @{
    if(faststreamerNotEligibleForSdip(usr).isDefinedAt(usr.application)) {
        faststreamerNotEligibleForSdip(usr).apply(usr.application)
    }
}

<div class="panel-info standard-panel">
    <div class="text">
        <h2 class="heading-medium">Continue your application as SDIP</h2>
        <p>@displayInformation</p>
        <p>Do you want to continue your application and apply for the Summer
            Diversity Internship Programme instead?</p>
        <p><a class="button">Continue as SDIP</a></p>
        <p><a href="@routes.HomeController.present()">No, take me back to Fast Stream</a></p>
    </div>
</div>