@import models.ConsiderMeForSdipHelper._

@(usr: CachedData)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, lang: Lang)

@displayInformation = @{
    if(faststreamerNotEligibleForSdip(usr).isDefinedAt(usr.application)) {
        faststreamerNotEligibleForSdip(usr).apply(usr.application)
    }
}

<div class="panel-info standard-panel">
    <div class="text">
        <h2 class="heading-medium">Continue your application as SDIP</h2>
        <p>@displayInformation</p>
        <p>Do you want to remove your Fast Stream application and apply for the Summer
            Diversity Internship Programme instead?</p>
        @helper.form(action = routes.ConsiderForSdipController.continueAsSdip(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField
            <p>
                <div class="form-group small-btm-margin">
                    <button id="applyBtn" type="submit" value="submit" class="button">Continue as SDIP</button>
                </div>
            </p>
        }
        <p><a href="@routes.HomeController.present()">No, take me back to Fast Stream</a></p>
    </div>
</div>