@import helper._
@import models.page.DashboardPage.activateByStep
@import models.page.PostOnlineTestsStage
@import models.ApplicationData.ApplicationStatus
@import security.RoleUtils._

@(page: models.page.PostOnlineTestsPage)(implicit request: Request[_])

@renderSchemeForm = {
    <div class="inner-block-padr" id="schemeForms">
        <h2 class='heading-medium'>Extra information</h2>
        <p>At least one of your scheme preferences require you to answer
            some additional questions.</p>
        <p>You should complete this within 7 days from the date of your
            email. Failure to do this will hold up your application.</p>
        <ul class="list-text list-withicons" data-extrainfolist>
            @if(!page.haveAdditionalQuestionsBeenSubmitted) {
                <li><i class="fa fa-minus the-icon"></i><a href="@routes.SiftQuestionsController.presentGeneralQuestions()">Nationality and higher education</a></li>
                @for(curSiftableScheme <- page.userDataWithSchemes.schemesForSiftForms) {
                <li><i class="fa fa-minus the-icon"></i>
                    <a href="@routes.SiftQuestionsController.presentSchemeForm(curSiftableScheme.id)">@{
                        curSiftableScheme.name
                        }</a>
                    <span class="font-xsmall">(this section will require you to answer questions in detail, 300 words or more)</span></li>
                }
                <li><i class="fa fa-minus the-icon"></i><a href="@routes.SiftQuestionsController.presentPreview()">Preview before you submit</a></li>
            } else {
                <div data-extrainfopanel=""><p>You've submitted all the required information.</p></div>
                <ul class="list-text list-withicons" data-extrainfolist=""><li><i class="fa fa-check the-icon"></i><a href="@routes.SiftQuestionsController.presentPreview()">View your submitted answers</a></li></ul>
            }
        </ul>
    </div>
}

@renderNumericTest = {
    <div class="inner-block-padr" id="numericTest">
        <h2 class="heading-medium">Take a numerical test</h2>
        <p>At least one of your scheme preferences require you to take a
            numerical test.</p>
        <p>You'll be sent an email with a link to start your test. Keep
            an eye on your email inbox, including your junk mail.</p>
        <p>You should complete this within 7 days from the date of your
            email. Failure to do this will hold up your application.</p>
    </div>
}

@renderCompletedSectionOne = {
    <div class="inner-block-padr" id="schemeForms">
        <h2 class='heading-medium'>Extra information</h2>
        <p>You've completed this section</p>
    </div>
}

@renderEventDetails = {
    <p>
        @page.assessmentCentreStartDateAndTime,
        <br />
        @page.assessmentCentreNameAndLocation
    </p>
}

@renderFindMoreAboutAssessmentDay = {
    <p><a href="http://www.faststream.gov.uk/faqs/" rel="external" target="_blank">
        Find out more about the assessment day</a>
    </p>
}

@renderViewAssessmentFeedback = {
    <p><a href="@routes.AssessmentFeedbackController.present(page.userDataWithSchemes.application.applicationId)">
        View your assessment feedback</a>
    </p>
}

@renderCannotAttend = {
    <p>If you cannot attend, <a href="@routes.ApplicationController.helpdesk()">contact us</a>.</p>
}

@renderAssessmentCentre = {
     <div class="inner-block-padr">
        <h2 class="heading-medium ">Attend an assessment centre</h2>

        <div id="assessmentBlurb">
        @(page.stage) match {
            case (PostOnlineTestsStage.UPLOAD_EXERCISES) => {
                @renderEventDetails
                <section>
                    <p>You need to upload your written analysis exercise.</p>
                    <div id="attachWordDocument">
                    @form(action = routes.HomeController.submitAnalysisExercise(), 'novalidate -> "novalidate", 'enctype -> "multipart/form-data") {
                        @CSRF.formField
                        <input type="file" class="input-file" id="analysisExerciseFile" name="analysisExerciseFile" accept=".doc, .docx">
                        <label for="analysisExerciseFile" class="button">Upload document</label>
                        <span class="font-xsmall">Maximum file size: 4MB</span>
                        <div id="fileSelected"></div>
                            <button type="submit" name="analysisExerciseSubmit" class="button" id="analysisExerciseBtn"
                        style="display: none">Submit analysis exercise</button>
                    }
                    </div>
                </section>
                @renderFindMoreAboutAssessmentDay
                @renderViewAssessmentFeedback
            }
            case (PostOnlineTestsStage.CONFIRMED_FOR_EVENT) => {
                <p>Your assessment centre is booked.</p>
                @renderEventDetails
                @renderCannotAttend
                @renderFindMoreAboutAssessmentDay
            }
            case (PostOnlineTestsStage.ALLOCATED_TO_EVENT) => {
                <p>Confirm you can attend this assessment centre</p>
                @renderEventDetails

                @page.assessmentCentreAllocation.map { alloc =>
                    @alloc.event.sessions.headOption.map { session =>
                    @helper.form(action = routes.HomeController.confirmAssessmentCentreAllocation(alloc.version, alloc.event.id, session.id),
                    'novalidate -> "novalidate") {
                        @helper.CSRF.formField
                        <button type="submit" class="button" id="assCanAttendBtn">I can attend</button>
                    }
                }}

                @renderCannotAttend
                @renderFindMoreAboutAssessmentDay
            }
            case (PostOnlineTestsStage.EVENT_ATTENDED) => {
                <p>Thanks for attending the assessment centre.</p>
                <p>We'll contact you as soon as we've got your result. Keep an eye on your email inbox, including your junk mail.</p>
            }
            case _ => {
                <p>If you've successfully passed the previous stages, you'll be invited to an assessment centre.</p>
                @renderFindMoreAboutAssessmentDay
            }
        }
        </div>
    </div>
<br />
}

 <section class="text">
    <ol class="step-by-step-coloured" id="nextStepsList">
        @(page.userDataWithSchemes.hasFormRequirement, page.userDataWithSchemes.hasNumericRequirement) match {
            case (true, true) => {
                <li class="first-step">
                    @if(isSiftEntered(page.toCachedData) && !isSiftComplete(page.toCachedData)) {
                        @renderSchemeForm
                        @renderNumericTest
                    } else {
                        @renderCompletedSectionOne
                    }
                </li>
                <li class="second-step">
                    @renderAssessmentCentre
                </li>
            }

            case (true, false) => {
                <li class="first-step">
                    @if(isSiftEntered(page.toCachedData) && !isSiftComplete(page.toCachedData)) {
                        @renderSchemeForm
                    } else {
                        @renderCompletedSectionOne
                    }
                </li>
                <li class="second-step">
                    @renderAssessmentCentre
                </li>
            }

            case (false, true) => {
                <li class="first-step">
                    @if(isSiftReady(page.toCachedData) && !isSiftComplete(page.toCachedData)) {
                        @renderNumericTest
                    } else {
                        @renderCompletedSectionOne
                    }
                </li>
                <li class="second-step">
                    @renderAssessmentCentre
                </li>
            }

            case (false, false) => {
                 <li class="first-step">
                    @renderAssessmentCentre
                </li>
            }

            case _ => {}
        }
        <li class="fourth-step @activateByStep(page.fourthStepVisibility)">
            <div class="inner-block-padr">
                <h2 class="heading-medium ">Final stage</h2>
                <p>If you've successfully passed the previous stage, you'll need to
                    attend a final event for your chosen scheme. We'll contact you
                    to arrange this.</p>
                <p>We aim to make your results available as soon as possible.</p>
            </div>
        </li>
    </ol>
 </section>

