@import models.ApplicationData.ApplicationStatus
@import security.RoleUtils.isSiftEntered
@(page: models.page.PostOnlineTestsPage)(implicit request: Request[_])

@renderSchemeForm = {
    @if(isSiftEntered(page.toCachedData)) {
        <div class="inner-block-padr" id="schemeForms">
            <h2 class='heading-medium'>Extra information</h2>
            <p>At least one of your scheme preferences require you to answer
                some additional questions.</p>
            <p>You should complete this within 7 days from the date of your
                email. Failure to do this will hold up your application.</p>
            <ul class="list-text list-withicons" data-extrainfolist>
                @if(!page.haveAdditionalQuestionsBeenSubmitted) {
                    <li><i class="fa fa-minus the-icon"></i><a href="@routes.SiftQuestionsController.presentGeneralQuestions()">Nationality and higher education</a></li>
                    @for(curSiftableScheme <- page.schemesForSiftForms) {
                    <li><i class="fa fa-minus the-icon"></i>
                        <a href="@routes.SiftQuestionsController.presentSchemeForm(curSiftableScheme.id)">@{
                            curSiftableScheme.name
                            }</a>
                        <span class="font-xsmall">(this section will require you to answer questions in detail, 300 words or more)</span></li>
                    }
                    <li><i class="fa fa-minus the-icon"></i><a href="@routes.SiftQuestionsController.presentPreview()">Preview before you submit</a></li>
                } else {
                    <div data-extrainfopanel=""><p>You've submitted all the required information.</p></div>
                    <ul class="list-text list-withicons" data-extrainfolist=""><li><i class="fa fa-check the-icon"></i><a href="@routes.SiftQuestionsController.presentPreview()">View your submitted answers</a></li></ul>
                }
            </ul>
        </div>
    }
}

@renderNumericTest = {
    @if(isSiftEntered(page.toCachedData)) {
        <div class="inner-block-padr" id="numericTest">
            <h2 class="heading-medium">Take a numerical test</h2>
            <p>At least one of your scheme preferences require you to take a
                numerical test.</p>
            <p>You'll be sent an email with a link to start your test. Keep
                an eye on your email inbox, including your junk mail.</p>
            <p>You should complete this within 7 days from the date of your
                email. Failure to do this will hold up your application.</p>
        </div>
    }
}

@renderPassedSectionOne = {
    <div class="inner-block-padr" id="schemeForms">
        <h2 class='heading-medium'>Extra information</h2>
        <p>You've completed this section</p>
    </div>
}

@renderAssessmentCentre = {
     <div class="inner-block-padr">
        <h2 class="heading-medium ">Attend an assessment centre</h2>
        <div id="assessmentBlurb">
            <p>If you've successfully passed the previous stages, you'll be
                invited to an assessment centre.</p>
            <p><a href="http://www.faststream.gov.uk/faqs/" rel="external" target="_blank">Find out more about the assessment day</a></p>
        </div>
    </div>
}

 <section class="text">
    <ol class="step-by-step-coloured" id="nextStepsList">
        @(page.hasFormRequirement, page.hasNumericRequirement, page.hasAssessmentCentreRequirement) match {
            case (true, true, true) => {
                <li class="first-step">
                    @if(isSiftEntered(page.toCachedData)) {
                        @renderSchemeForm
                        @renderNumericTest
                    } else {
                        @renderPassedSectionOne
                    }
                </li>
                <li class="second-step">
                    @renderAssessmentCentre
                </li>
            }

            case (true, false, true) => {
                <li class="first-step">
                    @if(isSiftEntered(page.toCachedData)) {
                        @renderSchemeForm
                    } else {
                        @renderPassedSectionOne
                    }
                </li>
                <li class="second-step">
                    @renderAssessmentCentre
                </li>
            }

            case (false, true, true) => {
                <li class="first-step">
                    @if(isSiftEntered(page.toCachedData)) {
                        @renderNumericTest
                    } else {
                        @renderPassedSectionOne
                    }
                </li>
                <li class="second-step">
                    @renderAssessmentCentre
                </li>
            }

            case (false, false, true) => {
                 <li class="first-step">
                    @renderAssessmentCentre
                </li>
            }

            case _ => {}
        }
        <li class="fourth-step">
            <div class="inner-block-padr">
                <h2 class="heading-medium ">Final stage</h2>
                <p>If you've successfully passed the previous stage, you'll need to
                    attend a final event for your chosen scheme. We'll contact you
                    to arrange this.</p>
                <p>We aim to make your results available as soon as possible.</p>
            </div>
        </li>
    </ol>
 </section>

