@(usr: CachedData)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, faststreamConfig: FaststreamConfig)

@main_template(title = "Home") {

    <div class="hgroup">
        <h1 class="heading-xlarge">Applications are now closed</h1>
    </div>
    <div class="lede text">
        <p>You can no longer apply for the Civil Service Fast Stream.</p>
        <p>You'll be able to apply again next year.</p>
        <p>Or you can use the <a href="https://civilservicejobs.service.gov.uk/" rel="external" target="_blank">Civil Service job search</a>.</p>
    </div>
}