@(usr: CachedData)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

<div class="panel-info standard-panel">
    <div class="text">
        <h2 class="heading-medium">Fast Stream applications are now closed</h2>
        <p>Unfortunately, you didn't submit your application before the deadline.</p>
        <p>Visit the <a href="https://www.civilservicejobs.service.gov.uk" target="_blank"
                        rel="external">Civil Service jobs</a> site for more opportunities
            with us. Or alternatively you can apply when the next application
            window opens.</p>
    </div>
</div>