@(pageForms: Seq[Form[_]] = Nil, disableMap:Boolean = false, notification: Option[(helpers.NotificationType,String)] = None)(content: Html)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@main_template(title = "Choose your preferred location and scheme", pageForms = pageForms, notification=notification) {
    <div class="grid-wrapper">
        <div class="grid grid-2-3">
            <h1 class="heading-xlarge" id="choosePrefLocFramHeading">Choose your preferred location and scheme</h1>
        </div>
        <div class="grid grid-1-3">
        </div>
    </div>
    <div class="grid-wrapper">
        <div class="grid grid-1-3 hide-nojs">
        @application.scheme.widgets.map(disableMap)
        </div>
        <div class="grid grid-2-3" id="containingGridPreference">
        @content
        </div>
    </div>
}

