@(preferenceForm: Form[_root_.forms.SchemeLocationPreferenceForm.Data], selection: models.frameworks.LocationAndSchemeSelection, notification: Option[(helpers.NotificationType,String)] = None)(regions: List[models.frameworks.Region])(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)
    @import views.html.application.scheme.widgets.{preferenceSelection, preferenceSummary}

    @application.scheme.locationAndSchemeTemplate(pageForms = Seq(preferenceForm), disableMap = false, notification=notification) {
        <section id="firstChoiceInfo">
            @preferenceSummary(title = "First preference", idPrefix = "first", preference = selection.firstLocation)
            <p><a href="@routes.SchemeController.firstPreference()">Change this selection <span class="visuallyhidden">(First preference)</span></a></p>
        </section>
        @preferenceSelection(
            title = "Second preference of location",
            preferenceForm = preferenceForm,
            action =  routes.SchemeController.saveSecondPreference(),
            selection = selection,
            disabledLocation = Some(s"${selection.firstLocation.region};${selection.firstLocation.location}"),
            showNoSecondPreference = true
        )(regions) {
            <button id="choiceSave" type="submit" value="submit" class="button toggle-content second-choice second-choice-btn">
                Save second location and scheme
            </button>
        }

    }

