@import connectors.exchange.{ AllocationDetails, Phase1TestProfile }
@import security.RoleUtils
@import models.page.{ Phase1TestsPage, Phase1TestPage }
@(cachedUserData: CachedData, phase1TestProfile: Option[Phase1TestsPage] = None,
        applicationStatus: models.ApplicationData.ApplicationStatus.ApplicationStatus,
        progressStatus: models.ApplicationData.ProgressStatuses.ProgressStatus,
        allocationDetails: Option[AllocationDetails])(implicit request: Request[_])

@import models.ApplicationData.ApplicationStatus._
<div data-hidesdip>
            @phase1TestProfile match {
                case None => {
                    <ul class="list-text list-withicons" id="testsIndividual">
                        <li>
                            <p class="med-btm-margin"><i class="fa fa-lock the-icon"></i>Online exercises
                                <span class="font-xsmall" data-locked>- locked</span>
                            </p>
                        </li>
                        <li>
                            <p class="med-btm-margin"><i class="fa fa-lock the-icon"></i>E-tray
                                <span class="font-xsmall" data-locked>- locked</span>
                            </p>
                        </li>
                        <li>
                            <p class="med-btm-margin"><i class="fa fa-lock the-icon"></i>Video interview
                                <span class="font-xsmall" data-locked>- locked</span>
                            </p>
                        </li>
                    </ul>
                }
                case Some(tests) if cachedUserData.application.isDefined => {
                    <ul class="list-text list-withicons">
                        <li>
                        <p class="med-btm-margin" id="testsHeading"><i class="fa fa-minus the-icon"></i>Online exercises</p>
                        <ul class="list-text list-withicons" id="testsIndividual">
                            @{tests.sjq.map { sjq =>
                                if (sjq.completed) {
                                    <li><i class="fa fa-check the-icon"></i>Situational judgement questionnaire (untimed)</li>
                                } else {
                                    <li><i class="fa fa-minus the-icon"></i>Situational judgement questionnaire (untimed)</li>
                                }
                            }}
                            @{tests.bq.map { bq =>
                                if (bq.completed) {
                                    <li><i class="fa fa-minus the-icon"></i>Behavioural questionnaire (untimed)</li>
                                } else {
                                    <li><i class="fa fa-minus the-icon"></i>Behavioural questionnaire (untimed)</li>
                                }
                            }}
                        </ul>
                        <p id="testsTime">You have <strong>@{tests.getDuration}</strong> to finish the online exercises</p>
                        <div id="testsButtonContainer">

                            @helper.form(action = routes.OnlineTestController.startPhase1Tests(), 'novalidate -> "novalidate") {
                            @helper.CSRF.formField
                                @{if (!tests.areStarted) {
                                    <button id="submit_online_tests" type="submit" value="submit" class="button">Start section</button>
                                } else {
                                    <button id="submit_online_tests" type="submit" value="submit" class="button">Continue section</button>
                                }}
                            }
                            <p>(Should take about an hour to finish both exercises)</p>
                        </div>
                        </li>
                        <li id="etraySection">
                            <p class="med-btm-margin" id="etrayHeading"><i class="fa fa-lock the-icon"></i>E-tray <span class="font-xsmall"
                                                                                                                        data-locked>- locked</span></p>
                            <p data-locked>Unlocked if you're successful in the online exercises</p>
                            <div id="etrayBlurb" class="hidden">
                                <p id="etrayDescription" class="">This section is timed, after starting the section you'll
                                    have 80 minutes to complete it.</p>
                                <p id="etrayTime" class="">You have <strong>6 days 3 hours</strong> to finish
                                    the E-tray</p>
                                <a href="" class="button" id="etrayButton">Start section</a>
                                <p>(You'll have 80 minutes to finish)</p>
                            </div>
                        </li>
                        <li id="videoSection">
                            <p class="med-btm-margin" id="videoHeading"><i class="fa fa-lock the-icon"></i>Video interview
                                <span
                                        class="font-xsmall" data-locked>- locked</span>
                            </p>
                            <p data-locked>Unlocked if you're successful in the E-tray</p>
                            <div id="videoBlurb" class="hidden">
                                <p id="videoDescription" class="">This section is timed, after starting the section you'll
                                    have 30 minutes to complete it.</p>
                                <p id="videoTime" class="">You have <strong>6 days 3 hours</strong> to finish
                                    the video interview</p>
                                <a href="https://launchpadrecruitsapp.com/apply/4dbf86b937ecb3df1c533a30" class="button"
                                   id="videoButton">Start section</a>
                                <p>(You'll have 30 minutes to finish)</p>
                            </div>
                        </li>
                    </ul>
                }
            }
    <p id="testsFindoutmore"><a href="" rel="external">Find out more about the online tests</a></p>
</div>
<div class="toggle-content" data-sdip>
    <p>We need to check and verify your certificate number before
        you can progress as a Fast Pass candidate. This should
        take 2 working days.</p>
</div>
