@(field : play.api.data.Field, isCompound: Boolean = false)(implicit messages: Messages)

@import helpers.CSRSkinnyFieldConstructor._

@createId(id:String, v:(String,String))=@{id + "-"+v._1.replace(" ", "_").replace("/", "_")}

@helper.input(field) { (id, name, value, args) =>
    <div>
        <label for="occupation-employed" class="block-label inputTrigger" data-inputTrigger="occupations">
            <input type="radio" name="@name" id="occupation-employed" value="Employed" class="showsContent showsOccupations"
                @(if(value.contains("Employed")) "checked" else "")>Yes, employed or self-employed
        </label>
    </div>
    <div>
        <label for="occupation-unemployed-seeking" class="block-label">
            <input type="radio" name="@name" id="occupation-unemployed-seeking" value="Unemployed but seeking work" class="hidesContent hidesOccupations"
                @(if(value.contains("Unemployed but seeking work")) "checked" else "")>No, unemployed and seeking work
        </label>
    </div>
    <div>
        <label for="occupation-unemployed" class="block-label">
            <input type="radio" name="@name" id="occupation-unemployed" value="Unemployed" class="hidesContent hidesOccupations"
                @(if(value.contains("Unemployed")) "checked" else "")>No, unemployed and not seeking work
        </label>
    </div>
    
    <div>
        <label for="occupation-unknown" class="block-label">
            <input type="radio" name="@name" id="occupation-unknown" value="Unknown" class="hidesContent hidesOccupations"
                @(if(value.contains("Unknown")) "checked" else "")>I don't know/prefer not to say
        </label>
    </div>

}
