@import helpers.CSRSkinnyFieldConstructor._
@import _root_.forms.SelectedSchemesForm.Scheme

@(field: play.api.data.Field, options: Seq[Scheme], args: (Symbol, Any)*)

@createId(id: String, scheme: Scheme) = @{
    id + "_" + scheme.schemeId.replace(" ", "_").replace("/", "_").replace("'", "_")
}

@helper.input(field, args.map { x => if(x._1 == '_label) '_name -> x._2 else x }: _*) { (id, name, value, htmlArgs) =>
        <div class="inner-block-padr" id="@id">
            <ul class="schemes-list">
            @defining(field.indexes.flatMap(i => field("[%s]".format(i)).value).toSet) { values =>
                @options.map { case scheme@Scheme(schemeId, qualification, specific) =>
                <li class="scheme-container">
                    <span class="selected-preference invisible"></span>
                    <label class="block-label block-label-slim" for="@createId(id, scheme)">
                        <input type="checkbox" id="@createId(id, scheme)" name="@{name + "[]"
                        }" value="@schemeId" @if(values.contains(schemeId)) {
                            checked="checked"
                        } @toHtmlArgs(htmlArgs) data-schemename/>
                        @Messages("scheme."+schemeId+".description")
                    </label>
                    <span class="alwayshidden" data-scheme-req
                          @if(specific){data-spec-scheme}>
                        @Messages("qualification."+qualification+".description")
                        @if(specific){
                            <a class="font-xsmall inl-block"
                               href='https://www.gov.uk/government/publications/@Messages("scheme."+schemeId+".link")'
                               rel="external" target="_blank">(Specific requirements)</a>
                        }
                    </span>
                </li>

                }
            }
            </ul>
        </div>
}