@(cachedUserData: CachedData)(implicit request: Request[_])

@import security.RoleUtils._

@displaySdipFaststreamBanner = {
    <div class="panel-info standard-panel" id="sdipPermanentBanner">
        <div class="text">
            <p>You've requested to be considered for the Summer Diversity Internship
                Programme (SDIP). We will process any of your Fast Stream scheme preferences first. You'll be contacted if you have reached the next stage.</p>
        </div>
    </div>
}
@displaySdipFaststreamSuccessfulBanner = {
    <div class="panel-success standard-panel" id="sdipFsSuccessBanner">
        <div class="text">
            <p>You've passed the online exercises for the Summer Diversity Internship
                Programme (SDIP).
                <br/><br/>

                <a class="" id="sdip-next-steps" href="@routes.HomeController.present()">
                    Complete these steps</a> to continue your application.
            </p>
        </div>
    </div>
}

@displaySdipFaststreamFailedBanner = {
    <div class="panel-info standard-panel" id="sdipFsFailedBanner">
        <div class="text">
            <p>Unfortunately, we've assessed your online tests results and you've been
                unsuccessful for the Summer Diversity Internship Programme (SDIP) this
                time.<br/>
                This will not affect the progress of your Fast Stream application.</p>
        </div>
    </div>
}

@isSdipResultAvailable = @{isSdipFaststreamFailed(cachedUserData) || isSdipFaststreamSuccessful(cachedUserData)}

@if(isSdipFaststreamFailed(cachedUserData)) {
    @displaySdipFaststreamFailedBanner
}

@if(isSdipFaststreamSuccessful(cachedUserData)) {
    @displaySdipFaststreamSuccessfulBanner
}

@if(!isSdipResultAvailable && isSdipFaststream(cachedUserData)) {
    @displaySdipFaststreamBanner
}
