@(cachedUserData: CachedData, isOnlySdipGreen: Boolean = false)(implicit request: Request[_])

@import security.RoleUtils._

@displaySdipFaststreamBanner = {
    <div class="panel-info standard-panel" id="sdipPermanentBanner">
        <div class="text">
            <p>You've requested to be considered for the Summer Diversity Internship
                Programme (SDIP). We will process any of your Fast Stream scheme preferences first. You'll be contacted if you have reached the next stage.</p>
        </div>
    </div>
}

@displaySdipFaststreamSuccessfulBanner = {
    <div class="panel-success standard-panel" id="sdipFsSuccessBanner">
        <div class="text">
            <p>You've passed the online exercises for the Summer Diversity Internship
                Programme (SDIP). We will process any of your Fast Stream scheme preferences first. You'll be contacted if you have reached the next stage.
            </p>
        </div>
    </div>
}

@displaySdipFaststreamOnlySdipSuccessfulAfterPhase3Banner = {
    <div class="panel-success standard-panel" id="sdipFsSuccessBanner">
        <div class="text">
            <p>You've passed the online exercises for the Summer Diversity Internship
                Programme (SDIP). You'll need to complete the extra information section below before being invited to the Telephone Interview.
            </p>
        </div>
    </div>
}

@displaySdipFaststreamFailedBanner = {
    <div class="panel-info standard-panel" id="sdipFsFailedBanner">
        <div class="text">
            <p>Unfortunately, we've assessed your online tests results and you've been
                unsuccessful for the Summer Diversity Internship Programme (SDIP) this
                time.<br/>
                This will not affect the progress of your Fast Stream application.</p>
        </div>
    </div>
}

@isSdipResultAvailable = @{isSdipFaststreamFailed(cachedUserData) || isSdipFaststreamSuccessful(cachedUserData)}

@cachedUserData match {
    case _ if isOnlySdipGreen => { @displaySdipFaststreamOnlySdipSuccessfulAfterPhase3Banner }
    case cud if isSdipFaststreamFailed(cud) => { @displaySdipFaststreamFailedBanner }
    case cud if isSdipFaststreamSuccessful(cud) => { @displaySdipFaststreamSuccessfulBanner }
    case cud if !isSdipResultAvailable && isSdipFaststream(cud) => { @displaySdipFaststreamBanner }
}
