@(field : play.api.data.Field, options: List[(String, Boolean)])(labelContent: Html)(implicit messages: Messages)

@import helpers.CSRSkinnyFieldConstructor._

@helper.input(field, '_class -> "form-group-compound grid-2-3") { (id, name, value, args) =>
    <label for="@id" class="bold-medium form-label">@labelContent</label>
    <select name="@name" id="@id" class="chosen-select" data-placeholder="Choose from list or begin typing">
        <option value=""></option>
        @for(option <- options) {
            <option value="@option"@if(value.contains(option._1)) { selected="selected"}>@option</option>
        }
    </select>
}
