@(field: play.api.data.Field, question: String, noMessage: Option[String], description: Option[String] = None)

@import helpers.CSRSkinnyFieldConstructor._

@selectRadio(currentValue: Option[String], questionType: String) = @{(currentValue, questionType) match {
    case (Some("true"), "yes") | (Some("false"), "no") => "checked=\"checked\""
    case _ => ""
}}

@helper.input(field, '_class -> "inline") { (id, name, value, _) =>
    <fieldset>
        <h2 class="form-label">@question</h2>
        <legend class="visuallyhidden">@question</legend>
        @if(description.isDefined) {
            <p>@Html(description.get)</p>
        }
        <div class="form-group">
            <label for="@id-yes" class="block-label">
                <input name="@name" type="radio" id="@id-yes" value="true" @selectRadio(value, "yes")>Yes
            </label>
            @if(noMessage.isDefined) {
                <label data-target="@name-panel" for="@id-no" class="block-label">
                    <input name="@name" type="radio" id="@id-no" aria-controls="@name-panel"
                    aria-expanded="false" value="false" @selectRadio(value, "no")>No
                </label>
            } else {
                <label for="@id-no" class="block-label">
                    <input name="@name" type="radio" id="@id-no" aria-controls="@name-panel"
                    aria-expanded="false" value="false" @selectRadio(value, "no")>No
                </label>
            }
        </div>
        @if(noMessage.isDefined) {
            <div id="@name-panel" class="toggle-content">
                <div class="panel-danger" role="alert">
                    <p>@noMessage</p>
                </div>
            </div>
        }
    </fieldset>
}
