@()(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@main_template(title = "E-tray complete | Apply for the Civil Service Fast Stream") {
    <div class="success-banner">
        <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>E-tray complete</h1>
    </div>
    <section>
        <div class="text">
            <p>Thank you, you've completed the e-tray.</p>
            <h2 class="heading-large">What you need to do next</h2>
            <div class="panel-indent">
                <p>Once your results are ready we'll send you an email letting you know
                    the outcome. Make sure you check your junk inbox.</p>
                <p><a href="@feedbackUrl" target="_blank" rel="external">Give feedback?</a> (30 second survey)</p>
                @if(user.isDefined){
                    <p><a href="@routes.HomeController.present()">Return to home</a>. Finished with the service? <a href="@routes.SignInController.signOut">Sign out</a>.</p>
                } else {
                    <p>You've been signed out. <a href="@routes.SignInController.signIn">Sign in</a> to return to your home page.</p>
                }
            </div>
        </div>
    </section>
}

