@()(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@main_template(title = "Situational judgement questionnaire complete | Apply for the Civil Service Fast Stream") {

    <div class="success-banner">
        <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>Exercise complete</h1>
    </div>
    <section>
        <div class="text">
            <p>You've completed the Situational judgement questionnaire.</p>
            <h2 class="heading-large">What you need to do next</h2>
            <div class="panel-indent">
                <p>To complete the next exercise you need to return to your homepage.</p>
                <p>The next exercise to complete is the Behavioural questionnaire.</p>
            </div>
        </div>
    @if(user.isDefined){
        <a href="@routes.HomeController.present()" class="button">Continue</a>
    } else {
        <a href="@routes.SignInController.signIn" class="button">Continue</a>
    }
    </section>
}

