@(form: Form[_root_.forms.GeneralDetailsForm.Data])(implicit lang: play.api.i18n.Lang)

@import helpers.CSRFieldConstructor._
@import views.html.widgets.checkbox

@isOutsideUk = @{
    form("outsideUk").value match {
        case Some("true") => true
        case _ => false
    }
}

<section class="section-border">
    <h2 class="heading-medium">Contact details</h2>

    <div class="form-group">
        @checkbox(form("outsideUk")) {
            My address is outside the UK
        }
    </div>

    <div id="addressManualInput">
        @*
         * The id for the line1 needs to be provided explicitly because otherwise the field is generated
         * with underscore in it. This is making the validation error-link unclickable when address line 1 is omitted.
         * The rest of the fields with dotted id are not using this trick because they are not used in validation.
         *@
        @helper.inputText(form("address.line1"), 'id -> "address.line1",
            '_label -> "Address",
            'class -> "form-control",
            '_class -> "form-group-compound",
            '_showConstraints -> false)(helpers.CSRFieldConstructor.myFields, lang)
        @helper.inputText(form("address.line2"),
            '_label -> "",
            'class -> "form-control",
            '_class -> "form-group-compound",
            '_showConstraints -> false,
            'optional -> "")(helpers.CSRFieldConstructor.myFields, lang)
        @helper.inputText(form("address.line3"),
            '_label -> "",
            'class -> "form-control",
            '_class -> "form-group-compound",
            '_showConstraints -> false,
            'optional -> "")(helpers.CSRFieldConstructor.myFields, lang)
        @helper.inputText(form("address.line4"),
            '_label -> "",
            'class -> "form-control",
            '_class -> "form-group-compound",
            '_showConstraints -> false,
            'optional -> "")(helpers.CSRFieldConstructor.myFields, lang)
        @helper.inputText(form("postCode"),
            '_label -> "Postcode",
            'autocapitalize -> "characters",
            'autocorrect -> "off",
            'class -> "form-control form-control-large",
            '_class -> (if(isOutsideUk) "toggle-content" else ""),
            '_showConstraints -> false)(helpers.CSRFieldConstructor.myFields, lang)
    </div>

    @helper.inputText(form("phone"),
        '_label -> "Telephone number",
        '_help -> "Enter your mobile or landline number",
        'class -> "form-control form-control-1-3 med-btm-margin",
        'type -> "tel",
        '_showConstraints -> false)

</section>
