@(form: Form[_root_.forms.GeneralDetailsForm.Data])(implicit lang: play.api.i18n.Lang)

@import _root_.forms.FastPassForm
@import views.html.widgets.radioGroupWithTogglePanels

<div id="civilServiceExperienceDetails_applicable-panel-yes" class="toggle-content">
    @radioGroupWithTogglePanels(form("civilServiceExperienceDetails.civilServiceExperienceType"), FastPassForm.CivilServiceExperienceTypes,
        'id -> "civilServiceExperienceDetails.civilServiceExperienceType",
        '_label -> "Which of these applies?") {
        @civilServantsContent()
        @fastTrackContent()
        @internshipTypesPanel(form)
    }
</div>