@(form: Form[_root_.forms.PersonalDetailsForm.Data])(implicit messages: Messages)

@import forms.FastPassForm
@import helpers.CSRFieldConstructor._
@import views.html.widgets.checkboxGroupWithTogglePanels

<div id="civilServiceExperienceDetails_civilServiceExperienceType_DiversityInternship-panel" class="toggle-content" aria-hidden="true">
    <h3 class="heading-medium">Summer/Early Diversity Internship Programme</h3>
    <fieldset>
        @checkboxGroupWithTogglePanels(form("civilServiceExperienceDetails.internshipTypes"), FastPassForm.InternshipTypes,
        'id -> "civilServiceExperienceDetails.internshipTypes",
        '_label -> "Which internship programme did you do?") {
            @fastPassCertificatePanel(form)
        }
    </fieldset>
</div>
