@(form: Form[_root_.forms.PersonalDetailsForm.Data])(implicit messages: Messages)

@import helpers.CSRFieldConstructor._
@import views.html.widgets.{checkbox, yesNoRadioWithTogglePanel}

<section class="clearfix" id="civilServantQuestion">
    <div class="text">
        <h2 class="heading-medium">Are you a civil servant, or have you been on a diversity internship, or the Fast Track?</h2>
    </div>
    @yesNoRadioWithTogglePanel(form("civilServiceExperienceDetails.applicable"),
        'id -> "civilServiceExperienceDetails.applicable",
        '_help ->
          """The internship that applies is the
            Early Diversity Internship Programme (EDIP)""".stripMargin) {
        @sdipFsCivilServiceExperienceTypesPanel(form)
    }
</section>
