@(questionnaireForm: Form[_root_.forms.EducationQuestionnaireForm.Data])(implicit lang: play.api.i18n.Lang)

@import views.html.widgets.{ checkbox, selectValueDifferentFromDisplayedText }

<section>
    @selectValueDifferentFromDisplayedText(questionnaireForm("university"),
        models.view.questionnaire.Universities.seq.toList)(
        "Select one") {
        @Messages("university.question")
    } {
        <span>Your first degree or your current university if you haven't finished yet</span>
    }
    <div class="form-group">
    @checkbox(questionnaireForm("preferNotSay_university"), Some("university")) {
        I don't know/prefer not to say
    }
    </div>
</section>