@(details: Form[_root_.forms.GeneralDetailsForm.Data], updateStatus: Boolean)(implicit request: Request[_], flash: Flash, optCachedData: Option[CachedData], feedbackUrl: String, lang: play.api.i18n.Lang)

@import views.html.application.personalDetails.{contactDetails, nameAndDateOfBirth}
@import views.html.application.civilServiceExperienceDetails.civilServiceExperienceDetailsPanel
@import views.html.widgets.{pageProgress, saveAndContinueButton}
@import security.Roles.EditPersonalDetailsAndContinueRole

@redirectUrl = @{
    if (updateStatus) routes.PersonalDetailsController.submitGeneralDetailsAndContinue()
    else routes.PersonalDetailsController.submitGeneralDetails()
}

@main_template(title = "Personal details", pageForms = Seq(details)) {
    @pageProgress(1, 7)
    <h1 class="heading-xlarge" id="personalDetailsHeading">Personal details</h1>

    @helper.form(action = redirectUrl, 'novalidate -> "novalidate") {
        @helper.CSRF.formField

        @nameAndDateOfBirth(details)
        @contactDetails(details)
        @if(optCachedData.exists(cachedData => EditPersonalDetailsAndContinueRole.isAuthorized(cachedData))){
            @civilServiceExperienceDetailsPanel(details)
        }
        @saveAndContinueButton()
    }
}

