@(
        generalDetails: connectors.exchange.GeneralDetails,
        schemePreferences: connectors.exchange.SelectedSchemes,
        partnerGraduateProgrammes: connectors.exchange.PartnerGraduateProgrammes,
        assistanceDetails: connectors.exchange.AssistanceDetails,
        applicationData: models.ApplicationData)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@import views.html.application.previewapplication.{assistanceDetailsViewSection, generalDetailsViewSection, schemePreferencesViewSection, partnerGraduateProgrammesViewSection, diversityQuestionnaireViewSection}
@import models.ApplicationData.ApplicationStatus._
@import security.Roles._

@appNotReadOnly(body: Html)= {
    @if(!WithdrawApplicationRole.isAuthorized(user.get) && !WithdrawnApplicationRole.isAuthorized(user.get)) {@body}
}


@renderFullName(user: CachedData) = {
@user.user.firstName @user.user.lastName
}

@edit_link(id: String, navigation: play.api.mvc.Call) = {
    @if(!ApplicationData.isReadOnly(user.get.application.get.applicationStatus)) {
        <a id="@id" class="icon-with-text" href="@navigation"><i class="the-icon fa fa-pencil"></i><span class="the-text">
            Edit <span class="visuallyhidden editSection"></span> section</span></a>
    }
}

@main_template(title = "Check your application") {

    <div class="text">
        <h1 class="heading-xlarge" id="checkApplicationHeading">
            @(applicationData.applicationStatus match {
                case SUBMITTED => "View your submitted application"
                case WITHDRAWN => "View your withdrawn application"
                case _ => "Check your application"
            })
        </h1>
    </div>

    @generalDetailsViewSection(generalDetails)(edit_link("editPersonalDetails", routes.PersonalDetailsController.presentAndContinue()))

    @schemePreferencesViewSection(schemePreferences)(edit_link("editSchemePreferences", routes.SchemePreferencesController.present()))

    @partnerGraduateProgrammesViewSection(partnerGraduateProgrammes)(edit_link("editPartnerGraduateProgrammes", routes.PartnerGraduateProgrammesController.present()))

    @assistanceDetailsViewSection(assistanceDetails)(edit_link("editAssistanceDetails", routes.AssistanceDetailsController.present()))

    @diversityQuestionnaireViewSection()

    @if(ApplicationData.isReadOnly(user.get.application.get.applicationStatus)) {
        <section class="section-border">
            <div class="form-group">
                <a href="@routes.HomeController.present" class="button">Return to home</a>
            </div>
        </section>
    }

    @if(WithdrawComponent.isAuthorized(user.get) && ApplicationData.isReadOnly(user.get.application.get.applicationStatus)) {
        <section>
            <h2 class="heading-large">
                <span class="sectionTitle">Withdraw application</span>
            </h2>
            <section>
                <p>If you don't want to be considered for the Fast Stream, you can withdraw your application.</p>
                <a id="withdraw-app" href="@routes.HomeController.presentWithDraw()">Withdraw from the Fast Stream</a>
            </section>
        </section>
    }

    @appNotReadOnly {
        @helper.form(action = routes.PreviewApplicationController.submit(), 'novalidate -> "novalidate") {
            @helper.CSRF.formField
            <div>
                <button id="submit" type="submit" value="submit" class="button">Save and continue</button>
            </div>

        }
    }
}

