@(form: Form[_root_.forms.SchemeSelectionForm.SchemePreference])(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, lang: play.api.i18n.Lang)

@import _root_.forms.SchemeSelectionForm
@import views.html.widgets.pageProgress
@import views.html.widgets.{checkbox, radioBox}
@import views.html.widgets.schemesCheckboxGroup

@main_template(title = "Choose your schemes", pageForms = Seq(form)) {
    @pageProgress(2, 7)

    @helper.form(action = routes.SchemeController2.submit(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField
        <h1 class="heading-xlarge" id="personalDetailsHeading">Choose your schemes</h1>

        <section class="text panel-indent">
            <p>From 1 up to 5 preferences</p>
        </section>

        <section class="grid-wrapper scheme-wrapper">
            <div class="scheme-input-container">
            @schemesCheckboxGroup(form("schemes"), SchemeSelectionForm.AllSchemes,
                '_label -> "",
                '_class -> ""
            )
            </div>
            <div class="scheme-info-container hide-nojs">
                <div id="sticky-anchor" style="height: 0px;"></div>
                <div class="scheme-info-panel">
                    <p class="bold-small" id="chooseYourPrefs">Choose your <span id="chooseNextPreference">1st preference</span>
                        <span class="hidden" data-optionalappended=""><br> (optional)</span></p>
                    <p class="bold-small hidden" id="chosenLimit">You've chosen 5 preferences</p>
                </div>
            </div>
        </section>

        <section id="selectedPreferences" class="hide-nojs">
            <h2 class="heading-large">Your chosen schemes</h2>
            <div data-scheme-placeholder="">
                <div class="scheme-warning text">
                    <p>Your schemes will appear here as you select them from the list</p>
                </div>
            </div>
            <ol id="selectedPrefList" class="list-text">
                <li></li>
            </ol>
                &nbsp;
        </section>
        <section class="text panel-indent">
            <p>Your schemes will be offered to you in order of preference.</p>
            <p>You will not be able to reorder them after submitting your application.</p>
        </section>
        <section class="text">
            <fieldset>
                <legend class="form-label">Are you happy with the order of your schemes?</legend>
                <div class="form-group no-btm-margin">
                    @radioBox(form("happy"), options = Seq("true" -> "Yes", "false" -> "No"))
                </div>
            </fieldset>
        </section>
        <section class="text">
            <fieldset>
                <legend class="form-label">Are you eligible for your chosen schemes?</legend>
                <p>Make sure you're <a href="https://www.gov.uk/guidance/civil-service-fast-stream-graduate-schemes" target="_blank" rel="external">
                    eligible</a> for your chosen schemes.</p>
                <div class="form-group no-btm-margin">
                    @radioBox(form("eligible"), options = Seq("true" -> "Yes", "false" -> "No"))
                </div>
            </fieldset>
        </section>
        <section class="text">
            <fieldset>
                <legend class="form-label">Would you consider other schemes?</legend>
                <p>If we don't offer you a place on one of your chosen schemes, we may
                    suggest other schemes on the Fast Stream.</p>
                <div class="form-group no-btm-margin">
                    @radioBox(form("alternatives"), options = Seq("true" -> "Yes", "false" -> "No"))
                </div>
            </fieldset>
        </section>
        <div class="form-group no-btm-margin">
            <button id="schemeSaveBtn" type="submit" value="submit" class="button">Save and continue</button>
        </div>
    }
}
    <script>
    $(function()
    {
        var isCivilServant=false, schemePrefArray = ['Empty'],
        firstEmptyPosition = $.inArray('Empty', schemePrefArray),
        preferencesAs123 = ['1st', '2nd', '3rd', '4th', '5th'],
        preferencesAsText = [
          '1st preference',
          '2nd preference',
          '3rd preference',
          '4th preference',
          '5th preference'
        ];
        console.log(preferencesAsText[firstEmptyPosition]);
        $('[data-schemename]').on('change', function()
          {
            var $this = $(this),
              thisScheme = $this.closest('.block-label').text(),
              thisSchemeID = $this.attr('id'),
              schemeReq = $this.closest('.scheme-container').find(
                '[data-scheme-req]').html(),
              isSpecial = $this.closest('.scheme-container').find(
                '[data-spec-scheme]').length,
              specialEligibility = isSpecial == 0 ?
              '<p class="font-xsmall no-btm-margin">Requires at least a ' +
              schemeReq + '</p>' :
              '<div class="scheme-warning text"><p class="font-xsmall">Requires at least a ' +
              schemeReq + '</p></div>',
              arrayPosition = $.inArray(thisSchemeID, schemePrefArray),
              emptyPosition = $.inArray('Empty', schemePrefArray);
            if (arrayPosition >= 0)
            {
              //Do nothing
            }
            else if ($this.is(':checked'))
            {
              if (emptyPosition < 0)
              {
                schemePrefArray.push(thisSchemeID);
              }
              else
              {
                schemePrefArray.splice(emptyPosition, 1, thisSchemeID);
              }
              var arrayPositionNow = $.inArray(thisSchemeID,
                schemePrefArray);
              if (isCivilServant === true && isSpecial == 0)
              {
                $('#selectedPrefList li').eq(arrayPositionNow).after(
                  '<li class="med-btm-margin scheme-prefcontainer" data-scheme-id="' +
                  thisSchemeID + '"><span data-schemeorder>' +
                  preferencesAsText[arrayPositionNow] +
                  '</span><div class="width-all-1-1"><span class="bold-small" data-schemenameinlist>' +
                  thisScheme +
                  '</span><p>You\'re eligible as a current civil servant</p></div>'
                );
              }
              else
              {
                $('#selectedPrefList li').eq(arrayPositionNow).after(
                  '<li class="med-btm-margin scheme-prefcontainer" data-scheme-id="' +
                  thisSchemeID + '"><span data-schemeorder>' +
                  preferencesAsText[arrayPositionNow] +
                  '</span><div class="width-all-1-1"><span class="bold-small" data-schemenameinlist>' +
                  thisScheme + '</span>' + specialEligibility +
                  '</div>');
              }
              $this.closest('.scheme-container').addClass(
                'selected-scheme').find('.selected-preference').text(
                preferencesAs123[arrayPositionNow]).removeClass(
                'invisible');
            }
            if (!$this.is(':checked'))
            {
              schemePrefArray.splice(arrayPosition, 1, 'Empty');
              $('#selectedPrefList').find('[data-scheme-id="' +
                thisSchemeID + '"]').remove();
              $this.closest('.scheme-container').removeClass(
                'selected-scheme').find('.selected-preference').text(
                'N/A').addClass('invisible');
            }
            var chosenPreferences = $('[data-schemeorder]').map(
                function()
                {
                  return $(this).text();
                })
              .get();
            var arrayOfChosen = $.makeArray(chosenPreferences);
            var differenceArray = [],
              initialVal = 0;
            $.grep(preferencesAsText, function(el)
            {
              if ($.inArray(el, arrayOfChosen) == -1)
                differenceArray.push(el);
              initialVal++;
            })
            if (differenceArray[0] === undefined)
            {
              $('#chosenLimit').removeClass('hidden');
              $('#chooseYourPrefs').addClass('hidden');
            }
            else
            {
              $('#chosenLimit').addClass('hidden');
              $('#chooseYourPrefs').removeClass('hidden');
              $('#chooseNextPreference').text(differenceArray[0]);
              if (differenceArray[0] !== "1st preference")
              {
                $('[data-optionalappended]').removeClass('hidden');
              }
              else
              {
                $('[data-optionalappended]').addClass('hidden');
              }
            }
            if ($('input[data-schemename]:checked').length == 5)
            {
              $('input[data-schemename]:not(:checked)').attr(
                'disabled', true).closest('.block-label').addClass(
                'disabled');
            }
            else
            {
              $('input[data-schemename]:not(:checked)').attr(
                'disabled', false).closest('.block-label').removeClass(
                'disabled');
            }
            if ($('input[data-schemename]:checked').length > 0)
            {
              $('[data-scheme-placeholder]').addClass(
                'toggle-content');
            }
            else
            {
              $('[data-scheme-placeholder]').removeClass(
                'toggle-content');
            }
          });
          function sticky_relocate()
          {
            if ($('.global-header__title').css('font-size') !== '16px')
            {
              var window_top = $(window).scrollTop(),
                div_top = $('#sticky-anchor').offset().top,
                li_top = $('.schemes-list li:last-child .block-label').offset()
                .top,
                li_bottom = li_top + $(
                  '.schemes-list li:last-child .block-label').outerHeight(),
                el_height = $('.scheme-info-panel').outerHeight(),
                bottomThreshold = window_top + el_height + 5;
              if (window_top > div_top)
              {
                $('.scheme-info-panel').addClass('fixed-panel');
                $('#sticky-anchor').height(el_height);
                if (li_bottom <= bottomThreshold)
                {
                  $('.scheme-info-panel').removeClass('fixed-panel').addClass(
                    'bottom-panel').css('bottom', '12px');
                }
                else
                {
                  $('.scheme-info-panel').removeClass('bottom-panel').addClass(
                    'fixed-panel').removeAttr('style');
                }
              }
              else
              {
                $('.scheme-info-panel').removeClass('fixed-panel');
                $('#sticky-anchor').height(0);
              }
            }
          }
          $(window).scroll(sticky_relocate);
          sticky_relocate();
    });
    </script>

